form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

form input {
    margin-bottom: 1.4rem;
    width: 14rem;
    height: 30px;
}

form button {
    width: 10rem;
    height: 1.4rem;
    margin-bottom: 2rem;
}

.weather {
    margin-top: 3rem;
    border-collapse: collapse;
    display: none;
    flex-direction: column;
    align-items: center;
}

th, td {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}

.weather-button-div {
    display: flex;
    justify-content: center;
}

.weather-button {
    display: none;
    margin: 0 2rem;
}

.weatherImg {
    width: 2rem;
    height: 2rem;
}
.weather-label-div{
    padding-top: 2rem;
    display: none;
    flex-direction: column;
    align-items: center;
}
.info-label{
    border: 0 solid #dddddd;
    text-align: right;
    padding: 8px;
}